<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poetrygame.mapper.PlayInformationMapper">

    <resultMap id="PlayInformationMapper" type="com.poetrygame.pojo.PlayerInformation">
        <result property="playerId" column="player_id"/>
        <result property="aliasName" column="alias_name"/>
        <result property="weixinId" column="weixin_id"/>
        <result property="registeTime" column="registe_time"/>
        <result property="playerLevel" column="player_level"/>
        <result property="lifeCount" column="life_count"/>
        <result property="lifeLimit" column="life_limit"/>
        <result property="restPrompt" column="rest_prompt"/>
        <result property="exitTime" column="exit_time"/>
        <result property="playerBuildingId" column="player_building_id"/>
        <result property="password" column="password"/>
        <result property="realName" column="real_name"/>
        <result property="sex" column="sex"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="idCardNumber" column="id_card_number"/>
        <result property="status" column="status"/>
        <result property="warnTimes" column="warn_times"/>
        <result property="activeValue" column="active_value"/>
    </resultMap>

    <!-- 测试:登录接口 -->
    <insert id="insertTest" parameterType="com.poetrygame.pojo.PlayerInformation">
        insert into poetry_game.tbl_player_information(weixin_id,registe_time,life_count,life_limit,active_value)
        values (#{weixinId},#{registeTime},#{lifeCount},#{lifeLimit},#{activeValue})
    </insert>

    <!-- 测试：查询openId返回给前端 -->
    <select id="openId" parameterType="com.poetrygame.pojo.PlayerInformation" resultType="Integer">
        select player_id from poetry_game.tbl_player_information where weixin_id = #{weixinId}
    </select>

    <update id="saveAliasName" parameterType="com.poetrygame.pojo.PlayerInformation">
        update poetry_game.tbl_player_information
        set alias_name = #{aliasName}
        where weixin_id= #{weixinId}
    </update>

    <!-- 增加活跃次数 -->
    <update id="addActiveValue" parameterType="com.poetrygame.pojo.PlayerInformation">
        update poetry_game.tbl_player_information
        set active_value = active_value + 1
        where weixin_id=#{weixinId}
    </update>
    
    <select id="lifeInformation" resultMap="PlayInformationMapper">
        select
            tbl_player_information.weixin_id,
            tbl_player_information.life_count,
            tbl_player_information.life_limit
        from
            poetry_game.tbl_player_information
        where
            tbl_player_information.weixin_id = #{weixinId}
    </select>

    <!-- 查询活跃次数-->
    <select id="playerInformationOne" parameterType="com.poetrygame.pojo.PlayerInformation" resultType="Integer">
        SELECT
            tbl_player_information.active_value
        FROM
            poetry_game.tbl_player_information
        WHERE
            player_id = #{playerId}
    </select>

    <!-- 查询注册时间-->
    <select id="playerInformationTwo" parameterType="com.poetrygame.pojo.PlayerInformation" resultType="java.util.Date">
        SELECT
            tbl_player_information.registe_time
        FROM
            poetry_game.tbl_player_information
        WHERE
            player_id = #{playerId}
    </select>






</mapper>