<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poetrygame.mapper.topicDetailVoMapper">

    <resultMap id="topicDetailVoMapper" type="com.poetrygame.vo.topicDetailVo">
        <result property="cityBuildingId" column="city_building_id"/>
        <result property="topicCount" column="topic_count"/>
        <result property="doneTopic" column="done_topic"/>
        <result property="playerTopicId" column="player_topic_id"/>
        <result property="playerBuildingId" column="player_building_id"/>
    </resultMap>

    <select id="topicDetailVo" resultMap="topicDetailVoMapper">
        select
            tbl_player_building.city_building_id,
            tbl_player_building.topic_count,
            tbl_player_building.done_topic
        from
            poetry_game.tbl_player_building
        WHERE
                tbl_player_building.player_building_id = (
                SELECT
                    tbl_topic_play_detail.player_building_id
                FROM
                    poetry_game.tbl_topic_play_detail
                WHERE
                    tbl_topic_play_detail.player_topic_id = #{playerTopicId})
    </select>

</mapper>